@charset "UTF-8";
/* import 방법
    1. @import "파일 경로";
       만일 확장자를 명시하지 않으면, scss 확장자를 의미함
       +) 미디어쿼리와 함께 작성된 상태에서 확장자를 명시하지 않으면, css 확장자를 의미함
    2. @import url("파일 경로");
       만일 확장자를 명시하지 않으면, css 확장자를 의미함
       ex) @import url("style01");
    3. @import "파일 경로" screen;
       만일 확장자를 명시하지 않으면, css 확장자를 의미함
       ex) @import "style01" screen;
*/
/* test.scss파일을 watching모드로 한 후, test.scss 파일에 스타일을 작성하여 저장하고, 현재 이 파일을 한번 더 저장해야 스타일이 적용됨 */
.title {
  color: red;
  text-decoration: underline;
}

.desc {
  background-color: yellowgreen;
  color: white;
}

/* 유지보수를 위한 파일 분할
   : 여러 scss 파일로 분할하여 작성하되 개별 css 파일이 생성되지 않고, 하나의 css 파일로 만들고 싶을 떼
     scss 파일명을 언더바로 시작하고(파일명이 언더바로 시작한 scss 파일은 컴파일하여도 css 파일이 생성되지 않음)
     import 할 때는 언더바 생략하고 파일명 명시 */
.text {
  color: orange;
  background-color: green;
}