@use "./_variables.scss" as vars;

@mixin paddingSetting($top, $bottom, $left:null, $right:null) {
    padding-top: $top;
    padding-bottom: $bottom;

    @if($left != null) {
        padding-left: $left;
    }

    @if($right != null) {
        padding-right: $right;
    }
}

/// 컨테이너의 위 아래 패딩을 반응형별로 설정
@mixin containerPadding() {
    @include paddingSetting(map-get(vars.$padding, pc), map-get(vars.$padding, pc));

    @each $bp, $label in (lg: laptop, md: tablet) {
        @media (max-width: map-get(vars.$breakpoints, $bp)) {
            @include paddingSetting(map-get(vars.$padding, $label), map-get(vars.$padding, $label));
        }
    }
}

/// hero 컨테이너의 위 아래 패딩을 반응형별로 설정
@mixin heroContainerPadding() {
    @include paddingSetting(map-get(vars.$padding, pc), 0);

    @each $bp, $label in (lg: laptop, md: tablet) {
        @media (max-width: map-get(vars.$breakpoints, $bp)) {
            @include paddingSetting(map-get(vars.$padding, $label), 0);
        }
    }
}

/// index.html의 h1 폰트 사이즈를 반응형별로 설정
@mixin mainFontH1() {
    $main-h1: map-get(vars.$font-size, main-h1);

    font-size: map-get($main-h1, pc);
    line-height: 1.3;

    @each $bp, $label in (lg: laptop, md: tablet, sm: mobile) {
        @media (max-width: map-get(vars.$breakpoints, $bp)) {
            font-size: map-get($main-h1, $label);
        }
    }
}

/// display 속성 값을 반응형별로 설정 
@mixin showDisplayAttribute($device) {
    display: none;

    @if ($device == laptop) {
        @media (max-width: map-get(vars.$breakpoints, lg)) {
            display: block;
        }
    } 

    @if ($device == tablet) {
        @media (max-width: map-get(vars.$breakpoints, md)) {
            display: block;
        }
    }

    @if ($device == mobile) {
        @media (max-width: map-get(vars.$breakpoints, sm)) {
            display: block;
        }
    }
}

/// cta의 속성 값(font-size, padding)을 반응형별로 설정
@mixin cta() {
    // font-size를 반응형별로 설정
    $body-xl: map-get(vars.$font-size, body-xl);
    font-size: map-get($body-xl, pc);
    
    @each $bp, $label in (lg: laptop, md: tablet, sm: mobile) {
       @media (max-width: map-get(vars.$breakpoints, $bp)) {
            font-size: map-get($body-xl, $label);
       } 
    }
    
    // padding을 반응형별로 설정
    @include paddingSetting(1.5rem, 1.5rem, 6rem, 6rem);
    @media (max-width: map-get(vars.$breakpoints, sm)) {
        @include paddingSetting(1.5rem, 1.5rem, 4rem, 4rem);
    }
}

