$font-family: "Noto Sans KR", sans-serif;

$breakpoints: (
    lg: 1023px,
    md: 767px,
    sm: 479px
);

// 반응형별 기준 패딩 사이즈 map
$padding: (
    pc: 120px,
    laptop: 100px,
    tablet: 80px,
    mobile: 80px
);

$font-size: (
    main-h1: (
        pc: 6rem,
        laptop: 5rem,
        tablet: 4.2rem,
        mobile: 3.2rem
    ),

    sub-h1: (
        pc: 5.2rem,
        laptop: 5rem,
        tablet: 4.2rem,
        mobile: 3.2rem
    ),

    body-xxl: (
        pc: 3rem,
        laptop: 2.8rem,
        tablet: 2.4rem,
        mobile: 2rem
    ),

    body-xl: (
        pc: 3rem,
        laptop: 2.4rem,
        tablet: 1.8rem,
        mobile: 1.8rem
    ),
    
    body-lg: (
        pc: 2rem,
        laptop: 1.8rem,
        tablet: 1.6rem,
        mobile: 1.6rem
    ),

    body-sm: (
        pc: 1.4rem,
        laptop: 1.4rem,
        tablet: 1.3rem,
        mobile: 1.2rem
    )
);

$color: (
    orange-color: #F7552F,
    navy-color: #000715,
    white-color: #FFFFFF,
    black-color: #000000,
    blue-color: #2F50F7,
    orange-light-color: #FF883F,
    gray-color: #4E4E4E,
    gray-light-color: #C0C0C0
);