*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-total-container {
    margin: 100px 95px 0 95px;
    height: 900px;
    /* 지울것 */
    border: 1px solid black;
    display: flex;
    gap: 20px;
}

.card-01 {
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* break-point */
@media (max-width: 1680px) {
    .card-total-container {
        height: 800px;
    }
}

@media (max-width: 1024px) {

}

