@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: local('Pretendard-Black'),
        url("../font/Pretendard-Black.ttf") format('truetype'),
        url("../font/Pretendard-Black.woff2") format('woff2'),
        url("../font/Pretendard-Black.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: local('Pretendard-ExtraBold'),
        url("../font/Pretendard-ExtraBold.ttf") format('truetype'),
        url("../font/Pretendard-ExtraBold.woff2") format('woff2'),
        url("../font/Pretendard-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: local('Pretendard-Bold'),
        url("../font/Pretendard-Bold.ttf") format('truetype'),
        url("../font/Pretendard-Bold.woff2") format('woff2') url("../font/Pretendard-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: local('Pretendard-SemiBold'),
        url("../font/Pretendard-SemiBold.ttf") format('truetype'),
        url("../font/Pretendard-SemiBold.woff2") format('woff2'),
        url("../font/Pretendard-SemiBold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: local('Pretendard-Medium'),
        url("../font/Pretendard-Medium.ttf") format('truetype'),
        url("../font/Pretendard-Medium.woff2") format("woff2"),
        url("../font/Pretendard-Medium.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: local('Pretendard-Regular'),
        url("../font/Pretendard-Regular.ttf") format('truetype'),
        url("../font/Pretendard-Regular.woff2") format('woff2'),
        url("../font/Pretendard-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: local('Pretendard-Light'),
        url("../font/Pretendard-Light.ttf") format('truetype'),
        url("../font/Pretendard-Light.woff2") format('woff2'),
        url("../font/Pretendard-Light.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: local('Pretendard-ExtraLight'),
        url("../font/Pretendard-ExtraLight.ttf") format('truetype'),
        url("../font/Pretendard-ExtraLight.woff2") format('woff2'),
        url("../font/Pretendard-ExtraLight.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: local('Pretendard-Thin'),
        url("../font/Pretendard-Thin.ttf") format('truetype'),
        url("../font/Pretendard-Thin.woff2") format('woff2'),
        url("../font/Pretendard-Thin.woff") format('woff');
}

:root {
    --primary-color: #FC8A46;
    --white-color: #FFFFFF;
    --black-color: #121212;
    --gray-color: #A0A0A0;
    --light-gray-color: #989898;
    --gradient-yellow: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 238, 154, 0.35));
}


/* common-sec */
html {
    /* 16px * 62.5% = 10px이므로 아래처럼 선언하면 1rem = 10px이 됨 */
    font-size: 62.5%;
}

body {
    font-family: 'Pretendard';
}

* {
    box-sizing: border-box;
}

/* 100vw : 스크롤바는 포함하는 브라우저 창 전체 너비
   따라서 각 섹션의 width: 100vw;로 설정 시, 가로 스크롤이 발생할 수 있음
   100%로 설정하는 것을 추천  */
section {
    width: 100%;
    background-color: var(--black-color);
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 80px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    cursor: pointer;
}

.orange-text {
    color: var(--primary-color);
}

.sec-title {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}

.small-desc {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.03rem;
    color: var(--light-gray-color);
}


/* hero-sec */
.hero-container {
    display: flex;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-title {
    color: var(--white-color);
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.05rem;
}

.hero-main-title .key-word {
    font-size: 6rem;
    font-weight: 700;
}

.hero-sub-title {
    color: #E0E0E0;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 3rem;
    letter-spacing: 0.05rem;
}

.hero-cta {
    width: fit-content;
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1.5rem 3rem;
    background-color: #FF5F00;
    border-radius: 50px;
    margin-top: 12rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

.no-pc {
    display: none;
}

.only-pc-robot {
    /* https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjEwMjVweCIsIm1heFdpZHRoIjoiMTkyMHB4IiwibWluRm9udFNpemUiOiIzNTBweCIsIm1heEZvbnRTaXplIjoiNDAwcHgifQ%3D%3D 활용 */
    width: clamp(35rem, 29.2738rem + 5.5866vw, 40rem);
}

/* Swiper는 슬라이드가 처음이거나 마지막일 때 버튼에 자동으로 .swiper-button-disabled를 추가하기 때문에 이를 활용하여 비활성 상태를 스타일링 */
.swiper-button-disabled {
    opacity: 0.3;
    cursor: default;
    /* pointer-events: none; 마우스의 이벤트가 발생해도 무시함 */
    pointer-events: none;
}


/* recommend-sec */
.tab-container {
    display: flex;
    gap: 4rem;
    margin-top: 6rem;
}

.tab-container .btn {
    font-size: 3rem;
    font-weight: 400;
    color: var(--gray-color);
    background-color: transparent;
    border: 0;
    /* 의사 요소는 본래 요소의 자식처럼 동작 */
    position: relative;
    letter-spacing: 0.1rem;
}

/* 탭 ui 안에 구분자 삽입 */
.tab-container .btn:not(:last-child)::after {
    content: "";
    /* 의사 요소는 기본적으로 display: inlne;이므로 높이나 너비, 여백들이 잘 적용되지 않기 때문에 inline-block;으로 지정  */
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: var(--gray-color);
    position: absolute;
    right: -2.1rem;
}

/* swiper */
.swiper-wrap {
    width: calc(100% - 8rem);
    position: relative;
}

.swiper {
    /* swiper-wrapper에 overflow: hidden;을 주면 슬라이드가 끝까지 안보이거나, 
    마지막 카드가 잘리는 문제 발생하므로 swiper에만 overflow: hidden;을 줄 것 */
    overflow: hidden;
}

.swiper-pre-btn,
.swiper-next-btn {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-10px);
    background-color: transparent;
    border: 0;
}

.swiper-pre-btn {
    left: -40px;
    background-image: url("../images/left-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-next-btn {
    right: -40px;
    background-image: url("../images/right-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: fit-content;
}

.swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--gray-color);
}

.recommend-sec .swiper-wrap {
    margin-top: 3rem;
    height: 575px;
}

.recommend-sec .swiper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.recommend-sec .swiper-wrapper {
    width: calc(100% - 8rem);
}

.recommend-sec .swiper-indicator {
    width: fit-content;
    position: absolute;
    left: calc(50% - 35px);
    /* 위의 카드 때문에 가운데 정렬이어도 가운데 정렬 같지 않아 보이는 문제 때문에 15px 좌측으로 더 이동  */
    transform: translateX(-15px);
    bottom: 0;
}

.recommend-card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 3rem;
    border-radius: 10px;
    background: var(--gradient-yellow);
    /* background blur 적용 */
    backdrop-filter: blur(10px);
    /* inner shadow 적용 
       box-shadow: inset(선택) 그림자 x좌표 그림자 y좌표 흐림정도(blur) 크기(spread) 색상;
       내부 그림자에서만 inset 속성 값 사용 */
    box-shadow: inset 0 0 4px 1px rgba(255, 255, 255, 0.25);
}

.recommend-card img {
    width: 200px;
}

.recommend-card * {
    color: var(--white-color);
}

.recommend-card .phone-name {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 3rem;
    text-align: center;
    letter-spacing: 1px;
}

/* option-container */
.recommend-card .option-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.recommend-card .option {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommend-card .option-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--light-gray-color);
    letter-spacing: 1px;
}

.color-circle-container {
    width: 130px;
    display: flex;
    gap: calc((130px - (2rem * 4)) / 3);
}

/* iphone 16은 색상 원이 5개이므로 gap을 별도로 조절 */
.card-4 .color-circle-container {
    width: fit-content;
    gap: calc((140px - (2rem * 5)) / 4);
}

.color-circle {
    width: 2rem;
    height: 2rem;
    border: 0.3px solid var(--light-gray-color);
    border-radius: 50px;
    cursor: pointer;
}

/* color-circle 클래스 소속인 요소 중에 selected 클래스 소속인 요소를 선택 */
.color-circle.selected {
    border: 2px solid var(--white-color);
}

/* radio를 숨기고, label을 통해 커스터마이징 */
.radio-btn {
    display: none;
}

.radio-btn-container label {
    padding: 0.4rem 0.8rem;
    font-size: 1.4rem;
    border: 0.3px solid var(--light-gray-color);
    border-radius: 50px;
    cursor: pointer;
}

.radio-btn-container label:not(:last-child) {
    margin-right: 0.8rem;
}

/* 형제 요소 선택자
    + : 바로 뒤에 형제 요소를 선택. 
        따라서 바로 뒤 형제 요소가 조건을 불만족할 시, 스타일 적용X
    ~ : 뒤에 나오는 모든 형제 요소를 선택. 다중 선택이 가능 */
.radio-btn:checked+label {
    border: 2px solid var(--white-color);
}

.before-cost del {
    width: 100%;
    display: inline-block;
    font-size: 1.4rem;
    text-align: right;
    color: var(--light-gray-color);
    text-decoration-color: var(--primary-color);
}

.after-cost {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0.6rem;
}

.recommend-card-cta {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border-radius: 50px;
    border: 1px solid var(--light-gray-color);
}

.recommend-card-cta:hover {
    background-color: #1d1d1d;
    border-color: #1d1d1d;
}

.recommend-desc {
    margin-top: 12rem;
}


/* benefit-sec */
.benefit-index-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
}

.benefit-index-wrapper button {
    padding: 0;
    height: 4rem;
    background-color: transparent;
    border: 0;
}

.benefit-index-wrapper button:disabled {
    opacity: 0.3;
}

.benefit-index-wrapper p {
    color: var(--primary-color);
    font-size: 3rem;
}

.benefit-card-container {
    width: 100%;
    height: 686px;
    position: relative;
    margin-top: 3rem;
}

.benefit-card {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 6rem 0;
    color: #5D4037;
}

.benefit-card:not(.front-card) {
    backdrop-filter: blur(10px);
    transition: transform 0.35s ease-in-out;
}

.benefit-card.card-2 {
    background-color: rgba(250, 215, 160, 0.3);
    z-index: 9;
}

.benefit-card.card-3 {
    background-color: rgba(249, 161, 78, 0.3);
    z-index: 8;
}

.benefit-card.card-4 {
    background-color: rgba(252, 138, 70, 0.3);
    z-index: 7;
}

.benefit-card.card-5 {
    background-color: rgba(209, 111, 42, 0.3);
    z-index: 6;
}

.benefit-card.card-6 {
    background-color: rgba(168, 90, 29, 0.3);
    z-index: 5;
}

/* 뒤의 카드가 front-card가 될 시, 기존 속성에 덮어쓰기 되어 적용되어야 하므로 하단에 작성 */
.benefit-card.front-card {
    background-color: #FFF3E0;
    box-shadow: 8px 12px 24px rgba(0, 0, 0, 0.5);
    z-index: 10;

    /* 지울 것 */
    transform: translate(-50%, -50%);
}

.benefit-title {
    font-size: 2.4rem;
    font-weight: 700;
}

.benefit-sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0.6rem;
}

.benefit-icon {
    display: block;
    height: 17rem;
    margin: 4rem 0;
}

.benefit-desc {
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.03rem;
    text-align: center;
}

.sub-cta {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white-color);
    padding: 1.5rem 3rem;
    border-radius: 50px;
    background-color: #000;
    margin-top: 4rem;
}

.sub-cta:hover {
    background-color: rgb(98, 71, 51);
}


/* process-sec */
.step-wrapper {
    width: 100%;
    /* grid 사용 */
    display: grid;
    grid-template-columns: repeat(5, 22.5rem);
    /* grid는 gap을 자동조절할 수 없으므로 space-between으로 지정하여 gap이 자동 조절되는 효과를 간접적으로 얻음 */
    justify-content: space-between;
    margin-top: 6rem;
}

.step {
    width: 100%;
    height: 30rem;
    position: relative;
    background: var(--gradient-yellow);
    padding: 3rem 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 4px 1px rgba(255, 255, 255, 0.25);
}

.icon-area {
    height: 9rem;
    position: absolute;
    /* absolute 요소를 기준 요소의 정중앙에 위치시키는 방법 
    : 부모 요소로부터 50%씩 이동한 뒤, 자신의 절반 크기만큼 다시 이동 */
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    /* 중앙 정렬을 하더라도 step-desc에 의해 더 아래쪽에 위치한 것처럼 보이므로 15% 더 위로 이동 */
    transform: translate(-50%, -65%);
}

.step-text {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.step-title {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--gray-color);
}


.step-desc {
    font-size: 1.8rem;
    color: var(--white-color);
    line-height: 1.4;
    letter-spacing: 0.03rem;
}

.process-desc {
    margin-top: 12rem;
}


/* contact-sec */
.contact-form {
    width: 80%;
    position: relative;
    background: var(--gradient-yellow);
    box-shadow: inset 0 0 4px 1px rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    margin-top: 6rem;
    padding: 4rem;
}

.contact-robot {
    width: 100px;
    display: block;
    position: absolute;
    top: -100px;
    right: 0;
}

.contact-form input {
    border-radius: 1rem;
    padding: 1.5rem;
    border: 0;
    font-size: 1.6rem;
}

.label-match {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 1.8rem;
    color: #adadad;
    margin-bottom: 1rem;
}

.input-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.input-grid input {
    height: 60px;
}

.content-container {
    margin-top: 3rem;
}

.content-input {
    width: 100%;
    height: 300px;
}

/* 의사 요소를 이용하여 placeholder 위치 이동 */
.content-input::placeholder {
    transform: translateY(-120px);
}

.privacy-check-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem 0 6rem;
}

/* 수직으로 가운데 정렬하였지만, 여전히 텍스트가 아래로 내려가보이는 문제 해결 */
.privacy-check-group {
    line-height: 1;
}

/* checkbox를 숨기고, label을 통해 커스터마이징 */
.privacy-check {
    display: none;
}

.privacy-check-box label {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 0;
    cursor: pointer;
}

.custom-privacy-check {
    width: 27px;
    opacity: 0.3;
}

.privacy-check:checked+label * {
    opacity: 1;
    filter: brightness(2);
    color: var(--white-color);
}

.privacy-check-desc {
    background-color: transparent;
    border: 0;
    color: var(--gray-color);
    font-size: 1.4rem;
    letter-spacing: 0.03rem;
    text-decoration: underline;
    /* 밑줄과 텍스트 사이의 간격 조절 */
    text-underline-offset: 0.5rem;
    transition: 0.2s color ease-in-out;
}

.privacy-check-desc:hover {
    color: var(--white-color);
}

.form-btn {
    width: 100%;
    height: 60px;
    border-radius: 1rem;
    border: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
}


/* popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 999;
    display: none;
}

/* 개인정보 수집 및 이용 동의 팝업 */
.privacy-popup {
    width: 700px;
}

.popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 3rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
    background-color: var(--white-color);
    color: var(--black-color);
}

.popup-title button {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: 0;
}

.popup-title button img {
    display: block;
    width: 90%;
}

.popup-content {
    color: #808080;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.03rem;
    padding: 3rem;
    border-radius: 0 0 10px 10px;
    background-color: rgb(240, 240, 240);
}

.popup-content-2 {
    margin-top: 1.5rem;
}

/* 유효성 메시지 커스터마이징 */
.input-invalid-popup {
    width: 500px;
    padding: 4rem;
    background-color: rgb(240, 239, 239);
    color: var(--black-color);
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 0.03rem;
    text-align: center;
    /* \n을 줄바꿈으로 인식하며, 연속된 공백은 하나로 줄이고 자동 줄바꿈도 허용함 */
    white-space: pre-line;
}

.invalid-popup-close-btn {
    font-size: 1.6rem;
    color: var(--white-color);
    margin-top: 3rem;
    padding: 1rem 6rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
}




/* break-point */
@media (max-width: 1439px) {

    /* process-sec */
    .step-wrapper {
        width: 100%;
        /* 최대 column-gap을 40px로 지정 */
        max-width: 755px;
        height: calc(60rem + 2.78vw);
        grid-template-columns: repeat(3, 22.5rem);
        row-gap: 8%;
        position: relative;
    }

    .step-4,
    .step-5 {
        width: 22.5rem;
        position: absolute;
        bottom: 0;
    }

    .step-4 {
        left: 17%;
    }

    .step-5 {
        right: 17%;
    }

    .process-desc {
        margin-top: 8rem;
    }
}

@media (max-width: 1023px) {

    /* common-sec */
    .container {
        max-width: 960px;
        padding: 80px 32px;
    }

    .no-pc {
        display: inline-block;
    }

    .sec-title {
        font-size: 3.6rem;
    }

    /* hero-sec */
    .hero-container {
        /* 1920px에서 display: flex;를 해지 */
        display: block;
    }

    .text-container {
        align-items: center;
    }

    .text-container * {
        text-align: center;
    }

    .hero-main-title {
        font-size: 4.2rem;
        line-height: 1.1;
    }

    .hero-main-title .key-word {
        font-size: 5rem;
    }

    .hero-sub-title {
        font-size: 2.4rem;
        line-height: 1.4;
        margin-top: 4rem;
    }

    .only-pc-robot {
        display: none;
    }

    .hero-front-robot {
        width: 250px;
        margin-top: 8rem;
        /* 이미지를 가운데 정렬하였으나, 이미지 특성상 시각적으로 이미지가 가운데 정렬한 것처럼 보이지 않기 때문에 25px을 더 좌측으로 이동 */
        position: relative;
        right: 25px;
    }

    .hero-cta {
        font-size: 2rem;
        margin-top: 10rem;
    }


    /* recommend-sec */
    .tab-container {
        margin-top: 4rem;
    }

    .tab-container .btn {
        font-size: 2.4rem;
        letter-spacing: 0.05;
    }

    .recommend-sec .swiper-wrap {
        width: calc(100% - 6rem);
        margin-top: 2rem;
        height: 515px;
    }

    .swiper-pre-btn,
    .swiper-next-btn {
        width: 3rem;
        height: 3rem;
        transform: translateY(-10px);
    }

    .recommend-card {
        padding: 3.5rem 2.5rem;
    }

    .recommend-card .phone-name {
        font-size: 2.2rem;
    }

    .recommend-card img {
        width: 180px;
    }

    .recommend-card .option-container {
        width: 200px;
        margin-top: 2rem;
    }

    .recommend-card .option {
        height: 43px;
    }

    .recommend-card .option-title {
        font-size: 1.8rem;
    }

    .color-circle-container {
        width: 122px;
        gap: calc((122px - (2rem * 4)) / 3);
    }

    .radio-btn-container label {
        padding: 0.3rem 0.6rem;
        font-weight: 300;
    }

    .after-cost {
        margin-top: 0.4rem;
    }

    .recommend-card-cta {
        font-size: 1.6rem;
        font-weight: 400;
        padding: 0.6rem 1.6rem;
        margin-top: 3rem;
    }

    .recommend-desc {
        margin-top: 10rem;
    }


    /* benefit-sec */
    .benefit-index-wrapper {
        margin-top: 4rem;
        gap: 1rem;
    }

    .benefit-index-wrapper p {
        font-size: 2.4rem;
    }

    .benefit-prev-btn img,
    .benefit-next-btn img {
        width: 3rem;
    }

    .benefit-card-container {
        height: 638px;
        margin-top: 2rem;
    }

    .benefit-card {
        width: 360px;
        padding: 5rem 0;
    }

    .benefit-icon {
        height: 15rem;
    }

    .benefit-desc {
        line-height: 1.3;
    }

    .sub-cta {
        font-size: 1.6rem;
    }


    /* process-sec */
    .step-wrapper {
        margin-top: 4rem;
    }

    /* contact-sec */
    .contact-form {
        width: 90%;
        padding: 3rem;
        margin-top: 4rem;
    }

    .contact-robot {
        width: 70px;
        top: -70px;
    }

    .privacy-check-group {
        margin-bottom: 4rem;
    }
}


@media (max-width: 767px) {

    /* common-sec */
    .container {
        max-width: 720px;
        padding: 56px 20px;
    }

    .sec-title {
        font-size: 3rem;
    }

    .no-mobile {
        display: none;
    }


    /* hero-sec */
    .hero-main-title {
        font-size: 3.2rem;
        font-weight: 600;
        letter-spacing: 0;
    }

    .hero-main-title .key-word {
        font-size: 4rem;
        font-weight: 700;
    }

    .hero-sub-title {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 2.8rem;
    }

    .hero-front-robot {
        width: 200px;
        margin-top: 5.6rem;
    }

    .hero-cta {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        margin-top: 8rem;
    }


    /* recommend-sec */
    .tab-container {
        margin-top: 2.8rem;
        gap: 2rem;
    }

    .tab-container .btn {
        font-size: 2rem;
    }

    .tab-container .btn:not(:last-child)::after {
        width: 2px;
        right: -0.9rem;
    }

    .recommend-sec .swiper-wrap {
        width: calc(100% - 10rem);
        height: 470px;
        margin-top: 1.4rem;
    }

    .swiper-pre-btn,
    .swiper-next-btn {
        width: 2rem;
        height: 2rem;
        transform: translateY(-30px);
    }

    .recommend-card {
        padding: 3rem 2rem;
    }

    .recommend-card .phone-name {
        font-size: 2rem;
        margin-top: 2.4rem;
    }

    .recommend-card .option-container {
        width: 23rem;
        margin-top: 1.4rem;
    }

    .recommend-card .option {
        height: 40px;
    }

    .recommend-card .option-title {
        font-size: 1.6rem;
    }

    .color-circle {
        width: 1.8rem;
        height: 1.8rem;
    }

    /* 모바일에서 보조정보의 폰트 사이즈를 13px로 많이 사용 */
    .radio-btn-container label,
    .before-cost del {
        font-size: 1.3rem;
    }

    .after-cost {
        font-size: 1.6rem;
    }

    .recommend-card-cta {
        font-size: 1.6rem;
        margin-top: 2.5rem;

    }

    .recommend-sec .swiper-indicator {
        transform: translateX(-30px);
    }

    .recommend-desc {
        font-size: 1.2rem;
        margin-top: 8rem;
    }


    /* benefit-sec */
    .benefit-index-wrapper {
        margin-top: 2.8rem;
        gap: 0.8rem;
    }

    .benefit-index-wrapper p {
        font-size: 2rem;
    }

    .benefit-prev-btn img,
    .benefit-next-btn img {
        width: 2.5rem;
    }


    .benefit-card-container {
        height: 594px;
        margin-top: 1.4rem;
    }

    .benefit-card {
        width: 300px;
        padding: 4rem 0;
        top: 50%;
    }

    .benefit-title {
        font-size: 2rem;
    }

    .benefit-sub-title {
        font-size: 1.6rem;
    }

    .benefit-icon {
        height: 14rem;
    }

    .benefit-desc {
        font-size: 1.4rem;
    }

    /* process-sec */
    .step-wrapper {
        width: 38rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        margin-top: 2.8rem;
    }

    .icon-area {
        height: 5rem;
        position: static;
        /* position에 static을 설정하여 적용된 left, top이 해제되더라도 transform은 여전히 적용되기 때문에 이를 해제 */
        transform: translate(0);
    }

    .step {
        width: 100%;
        height: 11rem;
        /* step-4와 step-5의 position: absolute; 해제하고, 
        다른 step 카드에 relative를 적용 */
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 3rem;
    }

    /* position: absolute;에 의해 적용된 left와 right가 relative 시에는 자신의 위치를 기준으로 적용되기 때문에 이를 해제 */
    .step-4 {
        left: 0;
    }

    .step-5 {
        left: 0;
    }

    .step-text {
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .step-title {
        font-size: 2rem;
    }

    .step-desc {
        font-size: 1.6rem;
    }

    .process-desc {
        font-size: 1.2rem;
        margin-top: 5.6rem;
    }


    /* contact-sec */
    .contact-form {
        margin-top: 2.8rem;
        padding: 4rem;
    }

    .contact-robot {
        width: 55px;
        top: -55px;
    }

    .input-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .input-grid input {
        height: 50px;
    }

    .contact-form label {
        font-size: 1.6rem;
    }

    .contact-form input {
        font-size: 1.4rem;
    }

    .privacy-check-group {
        margin-bottom: 2.8rem;
    }

    .privacy-check-box label {
        font-size: 1.4rem;
    }

    .privacy-check-desc {
        text-underline-offset: 0.3rem;
    }

    .form-btn {
        height: 50px;
        font-size: 1.4rem;
    }


    /* popup */
    .privacy-popup {
        width: 90%;
    }

    .popup-title {
        padding: 2rem 2rem 1.5rem;
        font-size: 1.8rem;
    }

    .popup-content {
        font-size: 1.4rem;
        padding: 2rem;
    }

    .input-invalid-popup {
        width: 70%;
        font-size: 1.8rem;
        padding: 2em;
    }

    .invalid-popup-close-btn {
        font-size: 1.4rem;
    }
}