@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

:root {
    --primary-color: #FC8A46;
    --white-color: #FFFFFF;
    --gray-color: #A0A0A0;
}

/* common-sec */
* {
    box-sizing: border-box;
    font-family: 'Pretendard';
}

section {
    width: 100vw;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
}

.dark-sec {
    background-color: #121212;
}

a {
    text-decoration: none;
    display: inline-block;
}

.orange-text {
    color: var(--primary-color);
}

.sec-title {
    font-size: 2.8125rem;
    font-weight: 700;
    letter-spacing: 0.09375rem;
}

/* hero-sec */
.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 120px 80px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-title {
    color: var(--white-color);
    /* clamp()에서 중앙값을 calc((본래 px) / 화면 해상도) * 100vw)로 정하면 서로 다른 크기로 줄어들더라도 줄어드는 속도가 유사해져서 이질감이 감소함 */
    font-size: clamp(3rem, calc((54 / 1920) * 100vw), 3.375rem);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.0125rem;
}

.hero-main-title .key-word {
    font-size: clamp(3.625rem, calc((64 / 1920) * 100vw), 4rem);
    font-weight: 700;
}

.hero-sub-title {
    color: #E0E0E0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-top: 1.5rem;
}

.hero-cta {
    width: fit-content;
    color: var(--white-color);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.03125;
    padding: 1.125rem 2.1875rem;
    background-color: #FF5F00;
    border-radius: 50px;
    margin-top: 5.625rem;
}

.no-pc {
    display: none;
}

.only-pc-robot {
    /* width: 25rem; */
    width: clamp(18.75rem, calc((400 / 1920) * 100vw), 25rem);
}


/* recommend-sec */

.recommend-container {
    padding-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-container {
    display: flex;
    gap: 2.625rem;
    margin-top: 3.75rem;
}

.tab-container .btn {
    font-size: 1.625rem;
    font-weight: 500;
    color: var(--gray-color);
    background-color: transparent;
    border: 0;
    /* 의사 요소는 본래 요소의 자식처럼 동작 */
    position: relative;
}

/* 탭 ui 안에 구분자 삽입 */
.tab-container .btn:not(:last-child)::after {
    content: "";
    /* 의사 요소는 기본적으로 display: inlne;이므로 높이나 너비, 여백들이 잘 적용되지 않기 때문에 inline-block;으로 지정  */
    display: inline-block;
    width: 0.125rem;
    height: 100%;
    background-color: var(--gray-color);
    position: absolute;
    right: -1.375rem;

}







/* break-point */
@media (max-width: 1024px) {

    /* common-sec */
    .container {
        max-width: 960px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .no-pc {
        display: inline-block;
    }

    /* hero-sec */
    .hero-container {
        display: block;
        padding: 80px 32px;
    }

    .text-container {
        align-items: center;
    }

    .text-container * {
        text-align: center;
    }

    .hero-main-title {
        letter-spacing: -0.01875rem;
        font-size: clamp(1.75rem, calc((48 / 1024) * 100vw), 3rem);
    }

    .hero-main-title .key-word {
        font-size: clamp(2rem, calc((58 / 1024) * 100vw), 3.625rem);
    }

    .hero-sub-title {
        font-size: clamp(1.375rem, calc((30 / 1024) * 100vw), 1.875rem);
        line-height: 1.3;
        margin-top: 2.375;
    }

    .only-pc-robot {
        display: none;
    }

    .hero-front-robot {
        width: clamp(13.75rem, calc((301 / 1024) * 100vw), 18.8125rem);
        margin-top: 3.75rem;
        /* 이미지를 가운데 정렬하였으나, 이미지 특성상 시각적으로 이미지가 가운데 정렬한 것처럼 보이지 않기 때문에 30px을 더 좌측으로 이동 */
        position: relative;
        right: 30px;
    }

    .hero-cta {
        margin-top: 5.625rem;
    }
}


@media (max-width: 768px) {

    /* common-sec */
    .container {
        max-width: 720px;
        padding-left: 24px;
        padding-right: 24px;
    }

    /* hero-sec */
    .hero-container {
        padding: 56px 24px;
    }

    .hero-main-title {
        font-size: 1.75rem;
        font-weight: 400;
        letter-spacing: 0;
    }

    .hero-main-title .key-word {
        font-size: 2rem;
        font-weight: 700;
    }

    .hero-sub-title {
        font-size: 1.375rem;
        font-weight: 400;
        margin-top: 1.75rem;
    }

    .hero-front-robot {
        width: 224px;
        margin-top: 3.5rem;
    }

    .hero-cta {
        font-size: 1.125rem;
        padding: 0.5rem 1.5rem;
    }
}