@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: local('Pretendard-Black'),
        url("../font/Pretendard-Black.ttf") format('truetype'),
        url("../font/Pretendard-Black.woff2") format('woff2'),
        url("../font/Pretendard-Black.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: local('Pretendard-ExtraBold'),
        url("../font/Pretendard-ExtraBold.ttf") format('truetype'),
        url("../font/Pretendard-ExtraBold.woff2") format('woff2'),
        url("../font/Pretendard-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: local('Pretendard-Bold'),
        url("../font/Pretendard-Bold.ttf") format('truetype'),
        url("../font/Pretendard-Bold.woff2") format('woff2') url("../font/Pretendard-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: local('Pretendard-SemiBold'),
        url("../font/Pretendard-SemiBold.ttf") format('truetype'),
        url("../font/Pretendard-SemiBold.woff2") format('woff2'),
        url("../font/Pretendard-SemiBold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: local('Pretendard-Medium'),
        url("../font/Pretendard-Medium.ttf") format('truetype'),
        url("../font/Pretendard-Medium.woff2") format("woff2"),
        url("../font/Pretendard-Medium.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: local('Pretendard-Regular'),
        url("../font/Pretendard-Regular.ttf") format('truetype'),
        url("../font/Pretendard-Regular.woff2") format('woff2'),
        url("../font/Pretendard-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: local('Pretendard-Light'),
        url("../font/Pretendard-Light.ttf") format('truetype'),
        url("../font/Pretendard-Light.woff2") format('woff2'),
        url("../font/Pretendard-Light.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: local('Pretendard-ExtraLight'),
        url("../font/Pretendard-ExtraLight.ttf") format('truetype'),
        url("../font/Pretendard-ExtraLight.woff2") format('woff2'),
        url("../font/Pretendard-ExtraLight.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: local('Pretendard-Thin'),
        url("../font/Pretendard-Thin.ttf") format('truetype'),
        url("../font/Pretendard-Thin.woff2") format('woff2'),
        url("../font/Pretendard-Thin.woff") format('woff');
}

:root {
    --primary-color: #FC8A46;
    --white-color: #FFFFFF;
    --gray-color: #A0A0A0;
    --light-gray-color: #989898;
    --gradient-yellow: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 238, 154, 0.2));
}

/* common-sec */
html {
    /* 16px * 62.5% = 10px이므로 아래처럼 선언하면 1rem = 10px이 됨 */
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Pretendard';
}

/* 100vw : 스크롤바는 포함하는 브라우저 창 전체 너비
   따라서 각 섹션의 width: 100vw;로 설정 시, 가로 스크롤이 발생할 수 있음
   100%로 설정하는 것을 추천  */
section {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 80px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark-sec {
    background-color: #121212;
}

a {
    text-decoration: none;
    display: inline-block;
}

.orange-text {
    color: var(--primary-color);
}

.sec-title {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}

/* hero-sec */
.hero-container {
    display: flex;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-title {
    color: var(--white-color);
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.05rem;
}

.hero-main-title .key-word {
    font-size: 6rem;
    font-weight: 700;
}

.hero-sub-title {
    color: #E0E0E0;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 3rem;
    letter-spacing: 0.05rem;
}

.hero-cta {
    width: fit-content;
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: 700;
    padding: 1.5rem 3rem;
    background-color: #FF5F00;
    border-radius: 50px;
    margin-top: 12rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

.no-pc {
    display: none;
}

.only-pc-robot {
    /* https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjEwMjVweCIsIm1heFdpZHRoIjoiMTkyMHB4IiwibWluRm9udFNpemUiOiIzNTBweCIsIm1heEZvbnRTaXplIjoiNDAwcHgifQ%3D%3D 활용 */
    width: clamp(35rem, 29.2738rem + 5.5866vw, 40rem);
}

/* Swiper는 슬라이드가 처음이거나 마지막일 때 버튼에 자동으로 .swiper-button-disabled를 추가하기 때문에 이를 활용하여 비활성 상태를 스타일링 */
.swiper-button-disabled {
    opacity: 0.3;
    cursor: default;
    /* pointer-events: none; 마우스의 이벤트가 발생해도 무시함 */
    pointer-events: none;
}

/* recommend-sec */
.tab-container {
    display: flex;
    gap: 4rem;
    margin-top: 6rem;
}

.tab-container .btn {
    font-size: 3rem;
    font-weight: 400;
    color: var(--gray-color);
    background-color: transparent;
    border: 0;
    /* 의사 요소는 본래 요소의 자식처럼 동작 */
    position: relative;
    letter-spacing: 0.1rem;
}

/* 탭 ui 안에 구분자 삽입 */
.tab-container .btn:not(:last-child)::after {
    content: "";
    /* 의사 요소는 기본적으로 display: inlne;이므로 높이나 너비, 여백들이 잘 적용되지 않기 때문에 inline-block;으로 지정  */
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: var(--gray-color);
    position: absolute;
    right: -2.1rem;
}

/* swiper */
.swiper-wrap {
    width: calc(100% - 8rem);
    position: relative;
}

.swiper {
    /* swiper-wrapper에 overflow: hidden;을 주면 슬라이드가 끝까지 안보이거나, 
    마지막 카드가 잘리는 문제 발생하므로 swiper에만 overflow: hidden;을 줄 것 */
    overflow: hidden;
}

.swiper-pre-btn,
.swiper-next-btn {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-10px);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.swiper-pre-btn {
    left: -40px;
    background-image: url("../images/left_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-next-btn {
    right: -40px;
    background-image: url("../images/right_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: fit-content;
}

.swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--gray-color);
}

.recommend-sec .swiper-wrap {
    margin-top: 3rem;
    height: 575px;
}

.recommend-sec .swiper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.recommend-sec .swiper-wrapper {
    width: calc(100% - 8rem);
}

.recommend-sec .swiper-indicator {
    width: fit-content;
    position: absolute;
    left: calc(50% - 35px);
    /* 위의 카드 때문에 가운데 정렬이어도 가운데 정렬 같지 않아 보이는 문제 때문에 15px 좌측으로 더 이동  */
    transform: translateX(-15px);
    bottom: 0;
}

.recommend-card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 3rem;
    border-radius: 10px;
    background: var(--gradient-yellow);
    /* background blur 적용 */
    backdrop-filter: blur(10px);
    /* inner shadow 적용 
       box-shadow: inset(선택) 그림자 x좌표 그림자 y좌표 흐림정도(blur) 크기(spread) 색상;
       내부 그림자에서만 inset 속성 값 사용 */
    box-shadow: inset 0 0 4px 1px rgba(255, 255, 255, 0.25);
}

.recommend-card img {
    width: 200px;
}

.recommend-card * {
    color: var(--white-color);
}

.recommend-card .phone-name {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 3rem;
    text-align: center;
    letter-spacing: 1px;
}

/* option-container */
.recommend-card .option-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.recommend-card .option {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommend-card .option-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--light-gray-color);
    letter-spacing: 1px;
}

.color-circle-container {
    width: 130px;
    display: flex;
    gap: calc((130px - (2rem * 4)) / 3);
}

/* iphone 16은 색상 원이 5개이므로 gap을 별도로 조절 */
.card-4 .color-circle-container {
    width: fit-content;
    gap: calc((140px - (2rem * 5)) / 4);
}

.color-circle {
    width: 2rem;
    height: 2rem;
    border: 0.3px solid var(--light-gray-color);
    border-radius: 50px;
    cursor: pointer;
}

/* color-circle 클래스 소속인 요소 중에 selected 클래스 소속인 요소를 선택 */
.color-circle.selected {
    border: 2px solid var(--white-color);
}

.radio-btn {
    display: none;
}

.radio-btn-container label {
    padding: 0.4rem 0.8rem;
    font-size: 1.4rem;
    border: 0.3px solid var(--light-gray-color);
    border-radius: 50px;
    cursor: pointer;
}

.radio-btn-container label:not(:last-child) {
    margin-right: 0.8rem;
}

/* 형제 요소 선택자
    + : 바로 뒤에 형제 요소를 선택. 
        따라서 바로 뒤 형제 요소가 조건을 불만족할 시, 스타일 적용X
    ~ : 뒤에 나오는 모든 형제 요소를 선택. 다중 선택이 가능 */
.radio-btn:checked+label {
    border: 2px solid var(--white-color);
}

.before-cost del {
    width: 100%;
    display: inline-block;
    font-size: 1.4rem;
    text-align: right;
    color: var(--light-gray-color);
    text-decoration-color: var(--primary-color);
}

.after-cost {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0.7rem;
}

.recommend-card-cta {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 2rem;
    margin-top: 4rem;
    border-radius: 50px;
    border: 1px solid var(--light-gray-color);
}

.recommend-card-cta:hover {
    background-color: #1d1d1d;
    border-color: #1d1d1d;
}

.recommend-desc {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.03rem;
    color: var(--light-gray-color);
    margin-top: 12rem;
}

/* process-sec */
.step-wrapper {
    width: 100%;
    /* grid 사용 */
    display: grid;
    grid-template-columns: repeat(5, 20rem);
    /* grid는 gap을 자동조절할 수 없으므로 space-between으로 지정하여 gap이 자동 조절되는 효과를 간접적으로 얻음 */
    justify-content: space-between;
}

.step {
    width: 100%;
    height: 25rem;
    background: var(--gradient-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 3rem;
    border-radius: 0.5rem;
}

.step * {
    color: var(--white-color);
}

.step-title {
    font-size: 2.2rem;
    font-weight: 700;
}

/* 수정할 것 */
.icon-area {
    width: 120px;
    height: 100px;
    background-color: yellow;
}

.step-desc {
    font-size: 1.8rem;
    text-align: center;
}



/* break-point */
@media (max-width: 1024px) {

    /* common-sec */
    .container {
        max-width: 960px;
        padding: 80px 32px;
    }

    .no-pc {
        display: inline-block;
    }

    .sec-title {
        font-size: 3.6rem;
    }

    /* hero-sec */
    .hero-container {
        /* 1920px에서 display: flex;를 해지 */
        display: block;
    }

    .text-container {
        align-items: center;
    }

    .text-container * {
        text-align: center;
    }

    .hero-main-title {
        font-size: 4.2rem;
        line-height: 1.1;
    }

    .hero-main-title .key-word {
        font-size: 5rem;
    }

    .hero-sub-title {
        font-size: 2.4rem;
        line-height: 1.4;
        margin-top: 4rem;
    }

    .only-pc-robot {
        display: none;
    }

    .hero-front-robot {
        width: 250px;
        margin-top: 8rem;
        /* 이미지를 가운데 정렬하였으나, 이미지 특성상 시각적으로 이미지가 가운데 정렬한 것처럼 보이지 않기 때문에 25px을 더 좌측으로 이동 */
        position: relative;
        right: 25px;
    }

    .hero-cta {
        font-size: 2rem;
        margin-top: 10rem;
    }

    /* recommend-sec */
    .tab-container {
        margin-top: 4rem;
    }

    .tab-container .btn {
        font-size: 2.4rem;
        letter-spacing: 0.05;
    }

    .recommend-sec .swiper-wrap {
        width: calc(100% - 6rem);
        margin-top: 2rem;
        height: 515px;
    }

    .swiper-pre-btn,
    .swiper-next-btn {
        width: 3rem;
        height: 3rem;
        transform: translateY(-10px);
    }

    .recommend-card {
        padding: 3.5rem 2.5rem;

    }

    .recommend-card img {
        width: 180px;
    }

    .recommend-card .phone-name {
        font-size: 2.2rem;
    }

    .recommend-card .option-container {
        width: 200px;
        margin-top: 2rem;
    }

    .recommend-card .option {
        height: 43px;
    }

    .recommend-card .option-title {
        font-size: 1.8rem;
    }

    .color-circle-container {
        width: 122px;
        gap: calc((122px - (2rem * 4)) / 3);
    }

    .radio-btn-container label {
        padding: 0.3rem 0.6rem;
        font-weight: 300;
    }

    .after-cost {
        margin-top: 0.4rem;
    }

    .recommend-card-cta {
        font-size: 1.6rem;
        font-weight: 400;
        padding: 0.6rem 1.6rem;
        margin-top: 3rem;
    }

    .recommend-desc {
        margin-top: 10rem;
    }
}


@media (max-width: 768px) {

    /* common-sec */
    .container {
        max-width: 720px;
        padding: 56px 20px;
    }

    .sec-title {
        font-size: 3rem;
    }

    /* hero-sec */
    .hero-main-title {
        font-size: 3.2rem;
        font-weight: 600;
        letter-spacing: 0;
    }

    .hero-main-title .key-word {
        font-size: 4rem;
        font-weight: 700;
    }

    .hero-sub-title {
        font-size: 2rem;
        font-weight: 400;
        margin-top: 2.8rem;
    }

    .hero-front-robot {
        width: 200px;
        margin-top: 5.6rem;
    }

    .hero-cta {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        margin-top: 8rem;
    }

    /* recommend-sec */
    .tab-container {
        margin-top: 2.8rem;
        gap: 2rem;
    }

    .tab-container .btn {
        font-size: 2rem;
    }

    .tab-container .btn:not(:last-child)::after {
        width: 2px;
        right: -0.9rem;
    }

    .recommend-sec .swiper-wrap {
        width: calc(100% - 10rem);
        height: 470px;
        margin-top: 1.4rem;
    }

    .swiper-pre-btn,
    .swiper-next-btn {
        width: 2rem;
        height: 2rem;
        transform: translateY(-30px);
    }

    .recommend-card {
        padding: 3rem 2rem;
    }

    .recommend-card .phone-name {
        font-size: 2rem;
        margin-top: 2.4rem;
    }

    .recommend-card .option-container {
        width: 23rem;
        margin-top: 1.4rem;
    }

    .recommend-card .option {
        height: 40px;
    }

    .recommend-card .option-title {
        font-size: 1.6rem;
    }

    .color-circle {
        width: 1.8rem;
        height: 1.8rem;
    }

    /* 모바일에서 보조정보의 폰트 사이즈를 13px로 많이 사용 */
    .radio-btn-container label,
    .before-cost del {
        font-size: 1.3rem;
    }

    .after-cost {
        font-size: 1.6rem;
    }

    .recommend-card-cta {
        font-size: 1.6rem;
        margin-top: 2.5rem;

    }

    .recommend-sec .swiper-indicator {
        transform: translateX(-30px);
    }

    .recommend-desc {
        font-size: 1.2rem;
        margin-top: 8rem;
    }
}