html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}

.only-mob {
  display: none;
}
@media (max-width: 479px) {
  .only-mob {
    display: block;
  }
}

.btn {
  border-radius: 5rem;
}

.cta {
  font-size: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
@media (max-width: 1023px) {
  .cta {
    font-size: 2.4rem;
  }
}
@media (max-width: 767px) {
  .cta {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .cta {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  .cta {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.index-page {
  color: #FFFFFF;
}

.hero {
  background-color: #000715;
}
.hero__container {
  padding-top: 120px;
  padding-bottom: 0;
}
@media (max-width: 1023px) {
  .hero__container {
    padding-top: 100px;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .hero__container {
    padding-top: 80px;
    padding-bottom: 0;
  }
}
.hero__title {
  font-size: 6rem;
  line-height: 1.3;
  font-weight: 400;
}
@media (max-width: 1023px) {
  .hero__title {
    font-size: 5rem;
  }
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 4.2rem;
  }
}
@media (max-width: 479px) {
  .hero__title {
    font-size: 3.2rem;
  }
}
.hero__title--primary {
  font-weight: 700;
  color: #F7552F;
}

.cta-group {
  margin-top: 6rem;
  display: flex;
  gap: 6rem;
}
@media (max-width: 1023px) {
  .cta-group {
    margin-top: 5rem;
    gap: 5rem;
  }
}
@media (max-width: 767px) {
  .cta-group {
    margin-top: 4rem;
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 479px) {
  .cta-group {
    margin-top: 3rem;
    gap: 1.5rem;
  }
}
.cta-group__seller {
  background-color: #F7552F;
  color: #FFFFFF;
}
.cta-group__creator {
  color: #F7552F;
  box-shadow: inset 0 0 0 0.2rem #F7552F;
}